html, body{
    background-color: #222822;
    height:100%;
    margin:0;
    padding:0;
}

.extend-height{
    height: 100%;
}
.tab-content{
    padding:0;
    margin: 0;
}
text, tspan, a{
    font-family: "Lucida Console";
}
p, h1, h2, h3, h4, h5, h6{
    font-family: "Lucida Console";
    color: #E8E8E8;
}
.card h5{
    color: #000000;
}
h1{
    text-align: center;
}
ul, li{
    color: #E8E8E8;
}
/*.info-container ul li::before{
    content: "\2022";
    color: #E8E8E8;
    width: 1em;
    display: inline-block;
}*/
#gameStatusChangeCard{
    background-color: #E8E8E8;
    width: 60%;
    min-width: 500px;
    margin-bottom: 50px;
}

.wrapper{
    margin: 0;
    position: relative;
    min-height: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.nav{
    position: fixed;
    top:0;
    width: 100%;
    background-color: #222822;
    opacity: 0.8;
    z-index: 2;
}
footer{
    background-color: #222822;
    opacity: 0.8;
    color: #E8E8E8;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #E8E8E8E8;
}

.info_container{
    width:60%;
    min-width: 400px;
    margin-top: 5em;
    margin-left:auto;
    margin-right:auto;
}
/*.info_container a{
    color: #E8E8E8 !important;
}*/
.rule-container{
    width:80%;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
}

th, tr{
    color: #E8E8E8;
}

.footer p{
    text-align: center;
}

.card{
    margin-top: 20px;
}

.card-body{
    background-color: #443366;
}
h5{
    color: #E8E8E8;
}
.card-body h5{
    color: #5588AA;
}

.table td{
    padding-top: 5px;
    padding-bottom: 5px;
}

.container{
    max-width: 1920px !important;
}

.hide{
    display:none;
}

.cover{
    position: absolute;
    left: 0;
    top: 2rem;
    z-index: 2;
}
